<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Company Name</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,600,700,800" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='img/f.jpeg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
 		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/simple-line-icons.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slicknav.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animated-headline.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/particles.css') }}">					
	</head>
  
	<body data-spy="scroll" data-offset="80">
        <!-- Particles Background -->
        <div id="particles-js"></div>

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <div class="preloader">
                <div class="loader">
                    <div class="loader-outter"></div>
                    <div class="loader-inner"></div>
                    <span>RRTTC</span>
                </div>
            </div>
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->	
			<nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded site-navigation dark_bg_menu">
				<div class="container">
					<a class="navbar-brand" href="index2.html"><p>RRTTC</p></a>          
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
						<ul class="navbar-nav">
						  <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
						  <li class="nav-item"><a class="nav-link" href="#portfolio">About</a></li>				  			
						  <li class="nav-item"><a class="nav-link" href="#services">Job Opportunity</a></li>				
						  <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>			
						  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> 
						  <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>  <!-- change font -->
						  <li class="nav-item"><a class="nav-link" href="/register">Register</a></li> <!-- change font -->
						</ul>
				    </div>
				</div>
			</nav>     		
		<section id="home" class="dark_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="banner_content">
                    <h3 class="text-warning">HI THERE,</h3>
                    <h1 class="cd-headline clip">
                        <span class="cd-words-wrapper">
                            <b class="is-visible fw_600">Find Your Dream Job Today!</b>
                        </span>
                    </h1>
                    <p>Discover thousands of job opportunities tailored just for you. Whether you're 
                        looking for your first job or a new career path, we have the resources to help 
                        you succeed...</p>
                    <div class="mt-4">
                        <a href="/career" class="btn btn-warning btn-lg">Find Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center text-md-right">
                <img src="{{ url_for('static', filename='img/RRTTC.jpg') }}" alt="Job Search" class="img-fluid" style="max-width: 60%; height: auto; margin-top: 20px;">
            </div>
        </div>
    </div>
</section>
		
            <!-- Can we used or removed -->
			<section id="portfolio" class="dark_bg section-padding">
				<div class="container">        
					<h2 class="section-title wow flipInX" data-wow-delay="0.4s"> Discover Your Dream Job with Our Easy Job Search Feature..</span></h2>
					<div class="row">          
						<div class="col-md-12"> 
							<div class="controls text-center">
							  <a class="filter active btn btn-common" data-filter="all">
								All 
							  </a>
							  <a class="filter btn btn-common" data-filter=".design">
								Design 
							  </a>
							  <a class="filter btn btn-common" data-filter=".development">
								Development
							  </a>
							  <a class="filter btn btn-common" data-filter=".print">
								Print 
							  </a>
							</div>
						</div>

						
						<section id="services" class="dark_bg services section-padding">
							<h2 class="section-title wow flipInX" data-wow-delay="0.4s">Our <span>Services</span></h2>
							<div class="text-center mt-5">
								<a href="/career" class="btn btn-primary">View More</a>
							</div>
							
							<div class="container">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInDown" data-wow-delay="0.3s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/icon-responsive.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">Web Design</a></h3>
											</div>
										</div>
									</div>
						
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInDown" data-wow-delay="0.6s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/icon-email.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">JOB TITLE</a></h3>
											</div>
										</div>
									</div>
						
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInDown" data-wow-delay="0.9s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/icon-lock.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">JOB TITLE</a></h3>
											</div>
										</div>
									</div>
						
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInLeft" data-wow-delay="0.9s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/icon-easy.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">JOB TITLE</a></h3>
											</div>
										</div>
									</div>
						
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInUp" data-wow-delay="0.9s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/service-icon-bg.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">JOB TITLE</a></h3>
											</div>
										</div>
									</div>
						
									<div class="col-lg-4 col-md-6 col-xs-12">
										<div class="services-item wow fadeInRight" data-wow-delay="0.9s">
											<div class="icon">
												<img src="{{ url_for('static', filename='img/service/icon-responsive.svg') }}" alt=""/>
											</div>
											<div class="services-content">
												<h3><a href="#">JOB TITLE</a></h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<div id="blog" class="dark_bg blog-area section-padding">
				<h2 class="section-title wow flipInX" data-wow-delay="0.4s">Our <span>Blogs</span></h2>
				<h3 class="section-title wow flipInX" data-wow-delay="0.4s" style="font-size: 10px;"> <!----Not working-->
					Latest Insights for You
				</h3>
				<p style="font-size: 22px; line-height: 1.8; color: #f2ff00; text-align: center; 
				font-weight: bold; letter-spacing: 1px; margin-bottom: 40px;">
				Explore our expert tips and advice for career success.
			</p>
			
						
				<div class="container">							
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInLeft">
								<div class="blog-thumb">
									<div class="blog-image">
									   <a href="#"><img src="https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									<div class="blog-info">
										<a href="#"><h4>
											" Mastering the Art of Interviews"</h4></a>
										<small><i class="fa fa-clock-o"></i>12th March 2025</small>
										<span>| Design</span>											
										<p> Unlock your potential with these essential interview strategies</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInUp">
								<div class="blog-thumb">
									<div class="blog-image">
									   <a href="#"><img src="https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									<div class="blog-info">
										<a href="#"><h4>"Navigating the Future of Work"</h4></a>
										<small><i class="fa fa-clock-o"></i>12th March 2025</small>
										<span>| Design</span>											
										<p> Stay ahead with insights on evolving workplace trends</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInRight">
								<div class="blog-thumb">
									<div class="blog-image">
									   <a href="#"><img src="https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									<div class="blog-info">
										<a href="#"><h4>"Crafting a Winning Resume"</h4></a>
										<small><i class="fa fa-clock-o"></i>12th March 2025</small>
										<span>| Design</span>											
										<p> Stand out with these resume writing tips and tricks</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--- END CONTAINER 

				<div class="container">							
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInLeft">
								<div class="blog-thumb">
									<div class="blog-image">
									   <a href="#"><img src="https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									<div class="blog-info">
										<a href="#"><h4>"Interactive Design Trends"</h4></a>
										<small><i class="fa fa-clock-o"></i>July 31, 2024</small>
										<span>| Design</span>											
										<p> Embrace dynamic and engaging design elements that captivate and retain audience attention.</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInUp">
								<div class="blog-thumb">
									<div class="blog-image">
									   <a href="#"><img src="https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									<div class="blog-info">
										<a href="#"><h4>"Creative UI/UX Approaches"</h4></a>
										<small><i class="fa fa-clock-o"></i>July 31, 2024</small>
										<span>| Design</span>											
										<p>Implement innovative user interface and experience strategies to elevate digital interactions and conversions.</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="single_blog wow fadeInRight">
								<div class="blog-thumb">
									<div class="blog-image">https://st4.depositphotos.com/1842549/21132/i/450/depositphotos_211322650-stock-photo-seminar-icon-website-button-white.jpg" class="img-responsive" alt=""/></a>
									</div>
									   <a href="#"><img src="
									<div class="blog-info">
										<a href="#"><h4>"Visual Storytelling Revolution"</h4></a>
										<small><i class="fa fa-clock-o"></i>July 31, 2024</small>
										<span>| Design</span>											
										<p>Harness the power of compelling visuals to communicate narratives that resonate deeply with your audience.</p>
										<a href="#" class="btn blog_btn btn-secondary">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

			<section class="dark_bg funfacts-area pb_80 ">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<div class="funfact">
								<i class="icofont-printer"></i>
								<h3><span class="counterUp">2023</span>+</h3>
								<p>Info</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-3">
							<div class="funfact">
								<i class="icofont-users"></i>
								<h3><span class="counterUp">340</span>K</h3>
								<p>Info</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-3">
							<div class="funfact">
								<i class="icofont-users-alt-5"></i>
								<h3><span class="counterUp">490</span>+</h3>
								<p>Info</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-3">
							<div class="funfact">
								<i class="icofont-award"></i>
								<h3><span class="counterUp">100</span>+</h3>
								<p>Info</p>
							</div>
						</div>
					</div>
				</div>
			</section>
        <!-- Funfacts Section End -->

		<!-- Contact Section Start -->
			<section id="contact" class="dark_bg section-padding">      
				<div class="contact-form">
					<div class="container">
						<h2 class="section-title wow flipInX" data-wow-delay="0.4s">Contact <span>Us</span></h2>  
						<style>
							.center-div {
							  margin: 0 auto; /* This will center the div horizontally */
							  max-width: 100%; /* Ensures the div doesn't exceed the width of its container */
							  /* Add any additional styling you need */
							}
						  </style>
						<div class="row contact-form-area">   												
							<div class="col-md-12 col-lg-8 col-sm-8 center-div">
								<div class="contact_form wow fadeInLeft">
									<form action="contact.php" method="post" id="main_contact_form">
										<div class="contact_input_area">
											<div id="success_fail_info"></div>
											<div class="row">
												<!-- Form Group -->
												<div class="col-12">
													<div class="form-group">
														<input type="text" name="name" class="form-control" placeholder="Name" required="required">
													</div>
												</div>
												<!-- Form Group -->
												<div class="col-12 col-lg-6">
													<div class="form-group">
														<input type="email" name="email" class="form-control" placeholder="Email" required="required">
													</div>
												</div>
												<!-- Form Group -->
												<div class="col-12 col-lg-6">
													<div class="form-group">
														<input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
													</div>
												</div>
												<!-- Form Group -->
												<div class="col-12">
													<div class="form-group">
														<textarea rows="6" name="message" class="form-control" placeholder="Your Message" required="required"></textarea>
													</div>
												</div>
												<!-- Button -->
												<div class="col-12 text-center">
													<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-secondary ct_btn" title="Submit Your Message!">Send Message</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							
						</div> 
					</div>
				</div>   
			</section>
		<!-- Contact Section End -->

		<!-- Footer Section Start -->
			<footer class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
								<p>Copyright © 2025  | All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		<!-- Footer Section End -->

		<!-- Go to Top Link -->
		<a href="#" class="back-to-top">
			<i class="fa fa-arrow-up"></i>
		</a>

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mixitup.js') }}"></script>
<script src="{{ url_for('static', filename='js/animated-headline.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/nivo-lightbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-contact.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		
	</body>
</html>
